@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
}

.custom-input {
    padding: 1px 2px;
    max-width: 100%;
    min-width: 0px;
    border: 2px solid black;
    background-color: white;
    cursor: text;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.6;
    color: black;
    font-family: "Open Sans", sans-serif;
	margin-top: 10px;
}

.submit-button {
    background: linear-gradient(to bottom, #ff7f00, #ff5500);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
	font-weight: bold;
    cursor: pointer;
    margin-top: 10px; 
}

body {
    background-color: #0e1117;
    font-family: 'Open Sans', sans-serif;
    color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
}

/* h1 styling */
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 85px;
    letter-spacing: 2px;
    color: #000;  /* Text color */
    -webkit-text-stroke: 1px #ed9911;  /* Inner stroke for Webkit browsers */
    padding: 5px;
    text-align: center;
    text-shadow:
    5px 5px 0 #000000,  /* Outer stroke */
    -2px -2px 0 #000000,  
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000;
}

#header {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;  /* Stretch to fit */
    background-repeat: no-repeat;  
    background-position: center;  
    height: 100px; 
}

.title-container {
	height: 250px;
    width: 100%;
    padding-top: 25.00%; /* This is 100% divided by the aspect ratio, which is approximately 3 */
    background-color: #F7DA21;
    background-image: url('{{ url_for('static', filename='images/buzzkillheader.png') }}');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.word-length {
	font-weight: bold;
	font-size: 1.2em;
}

.title-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio, may cut off parts of the image */
}

/* Font size based on viewport width for h1, h2, h3 */
h1, h2, h3 {
    font-size: 4vw;
}

/* Font size based on viewport width for h1, h2, h3 */
h1, h2, h3 {
    font-size: 4vw; /* Adjust based on your preference */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 36px; 
    }

    .title-container {
        background-size: contain; /* Ensure the whole image is visible */
        background-position: top center; /* Adjust position if necessary */
        height: 150px; 
    }

    /* title image scaling on smaller screens */
    .title-img {
        object-fit: contain; 
    }
}

.title-wrapper h1 {
    flex-shrink: 1; /* Allow the text to shrink */
    min-width: 100px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.title-text {
    margin-left: 30px;
    margin-right: auto;
}

/* Subtitle Container */
.subtitle-container {
	width: 100%;
    text-align: center;
    color: black;
    padding: 5px;
    background-color: lightgrey;
    font-weight: bold;
}

/* Input Container */
.input-container {
    width: 100%;  /* Make it the same width as the container */
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;
}

.input-container label {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
    display: block; /* makes the label a block-level element, helping in layout */
}

.custom-input:focus {
    outline: 2px solid #F7DA21; /* Set outline color */
}


.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

input[type="text"] {
    border: 2px solid black;
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
	
}

/* Matching words */
.matching-words h2 {
    font-size: 24px;
}

.pangram {
    font-weight: bold;
    color: yellow;
}

.error-message {
    color: red;
    font-size: 14px;
}

#copyright {
    text-align: left;
    font-size: small;
    margin-top: 10px;
    color: white; 
}

#copyright a,
#copyright a:visited {
    text-decoration: none;
    color: inherit; 
}

